.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    color: #6c6c6f;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323233;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #fed136;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-top: 3px solid #fed136;
}

.dropdown-item:hover {
    background-color: #fed136;
    color: #fff;
}

nav {
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.banner {
    background-image: url('http://www.hd-freewallpapers.com/latest-wallpapers/abstract-website-backgrounds.jpg');
    text-align: center;
    color: #fff;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-text {
    padding: 200px 0 150px 0;
}

.banner-heading {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.banner-sub-heading {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: #fff;
}

.btn-banner {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.appear{
    display:block !important;
}
.text-intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    
}
#search{
    display:none;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 80%;
    caret-color: red;
    transition: width 0.4s linear;
}

.search_input1 {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    padding: 0 10px;
    width: 450px;
    caret-color: red;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}


#espace {
    height: 2em;
}

header {
    background-image: url('../sparkling-white-wine-and-grapes\ \(1\).jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#header-img {

    height: 50em;
    width: 90em;

}

#selection {
    background-color: whitesmoke;
}

.carousel-cell {
    width: 20%;
    margin-right: 10px;
    background: #434343;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;

    line-height: 200px;
    font-size: 80px;
    color: white;
}

#about {
    background-image: url('../bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.txt {
    background-color: rgba(113, 109, 109, 0.575);
    border-radius:15px;
   
}

#img-about {
    border-radius: 50%;

}

.hr{
    height:1px;
    background-color:black;
}

footer a{
    color:white
}
footer a:hover{
    color:rgb(159, 148, 148);
}

.let{
    display:none;
}

/* mobile view */
@media (max-width:500px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 1;
        margin-top: 5px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 0.7em 1em !important;
        font-size: 100%;
        font-weight: 500;
    }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }

}

@media (max-width:768px) {
    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
    .search_input {
        padding-bottom:2px;
    }
    }